.form-builder {
  display: flex;
  justify-content: space-between; /* Space out the Sidebar, Canvas, and FormList */
  padding: 20px;
}

/* Sidebar styles */
.sidebar {
  width: 20%;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.save-button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #45a049;
}

.view-button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #4a7aae;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-button:hover {
  background-color: #3e6996;
}

.update-button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #4aa7ae;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-button:hover {
  background-color: #3e7d96;
}


h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  cursor: pointer;
  color: #007bff;
}